<!DOCTYPE html>
<meta charset="UTF-8">
<head>
	<title>Character Page</title>
	<link rel="stylesheet" href="../static/styles.css">
	<script src="../static/script.js"></script>
</head>
<!-- will have to make multiple css files for diffrent devices -->
<body>
<div class="panels">
	<div class="eq_ch_container">
			<!-- width was 35% -->
			<div class="eq_container">
				<div class="inner_container">
					<div class="tab">
						<h1>Equipment</h1>
					</div>
					
					<div class="equipment_tab" style="width: 100%; height: 67.5%; background-color: #424242; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1%;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Head');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img id="equipment_Head_image" src="{{ equiped_item['head']['image'] }}" alt="Head Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 id="equipment_Head_text"
												{% if equiped_item['head']['rarity_color'] is not none %}
													style="color: {{ equiped_item['head']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['head']['name']|e }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Shoulder');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img id="equipment_Shoulder_image" src="{{ equiped_item['shoulder']['image'] }}" alt="Shoulder Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2  id="equipment_Shoulder_text"
												{% if equiped_item['shoulder']['rarity_color'] is not none %}
													style="color: {{ equiped_item['shoulder']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['shoulder']['name']|e }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Torso');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img  id="equipment_Torso_image" src="{{ equiped_item['Torso']['image'] }}" alt="Torso Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2  id="equipment_Torso_text"
												{% if equiped_item['Torso']['rarity_color'] is not none %}
													style="color: {{ equiped_item['Torso']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['Torso']['name']|e }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Hand');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img  id="equipment_Hand_image" src="{{ equiped_item['hand']['image'] }}" alt="Hand Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2  id="equipment_Hand_text"
												{% if equiped_item['hand']['rarity_color'] is not none %}
													style="color: {{ equiped_item['hand']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['hand']['name']|e }}</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Leg');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img id="equipment_Leg_image" src="{{ equiped_item['leg']['image'] }}" alt="Leg Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2  id="equipment_Leg_text"
												{% if equiped_item['leg']['rarity_color'] is not none %}
													style="color: {{ equiped_item['leg']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['leg']['name']|e }}</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Foot');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img id="equipment_Foot_image" src="{{ equiped_item['Foot']['image'] }}" alt="Foot Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2  id="equipment_Foot_text"
												{% if equiped_item['Foot']['rarity_color'] is not none %}
													style="color: {{ equiped_item['Foot']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['Foot']['name']|e }}</h2>
										</div>
									</div>
								</div>	
							</div>
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Trinket1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['trinket1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['trinket1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['trinket1']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['trinket1']['image'] }}" alt="Trinket Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Trinket2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['trinket2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['trinket2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['trinket2']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['trinket2']['image'] }}" alt="Trinket Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Ring1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['ring1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['ring1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['ring1']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['ring1']['image'] }}" alt="Ring Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Ring2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['ring2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['ring2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['ring2']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['ring2']['image'] }}" alt="Ring Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Item1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['item1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['item1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['item1']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['item1']['image'] }}" alt="Magic Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Item2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['item2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['item2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['item2']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['item2']['image'] }}" alt="Magic Item 2" />
										</div>
									</div>
								</div>
							</div>

						</div> 
								
					</div>

					<div class="info_item_seperator"></div>

					<div style="width: 100%; height: 23%; background-color: #424242;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon1');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="{{ equiped_item['weapon1']['image'] }}" alt="Main Hand 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['weapon1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['weapon1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['weapon1']['name']|e }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon2');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="{{ equiped_item['offhand1']['image'] }}" alt="Offhand 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['offhand1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['offhand1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['offhand1']['name']|e }}</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon3');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['weapon2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['weapon2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['weapon2']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['weapon2']['image'] }}" alt="Main Hand 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row tooltip" onclick="equipmentItemDetails({{ char_id }}, 'Weapon4');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['offhand2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['offhand2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['offhand2']['name']|e }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="{{ equiped_item['offhand2']['image'] }}" alt="Offhand 2" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- width was 18% -->
			<div class="char_info">
				<div class="inner_container">
					<div class="tab">
						<h1 id="character_name">{{ character_data['name']|e }}</h1>
					</div>
					
					<div class="char_image_container">
						<img id="character_image" class="character_image clickable" src="{{ character_data['image'] }}" alt="Character Image" onclick="changeImage({{ char_id }});"/>
					</div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Classification</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image clickable" onclick="changeClass({{ char_id }});">
							<h3 id="character_class" class="info_data">{{ character_data['class']|e }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image clickable" onclick="changeLevel({{ char_id }});">
							<h3 id="character_level" class="info_data">{{ character_data['level'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">HP</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image clickable" onclick="changeHealth({{ char_id }});">
							<h3 id="character_hp" class="info_data">{{ character_data['hp'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image clickable" onclick="changeMaxHealth({{ char_id }});">
							<h3 id="character_max_hp" class="info_data">{{ character_data['max_hp'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">AC</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image clickable" onclick="changeAC({{ char_id }});">
							<h3 id="character_ac" class="info_data">{{ character_data['ac'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Initiative</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image clickable" onclick="changeInitiative({{ char_id }});">
							<h3 id="character_initiative" class="info_data">{{ character_data['initiative'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Attack Bonus</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image clickable" onclick="changeAttackBonus({{ char_id }});">
							<h3 id="character_attack_bonus" class="info_data">{{ character_data['attack_bonus'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Alignment</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeAlignment({{ char_id }});">
							<h3 id="character_alignment" class="info_data">{{ character_data['alignment']|e }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Currency</h3>
						</div>	
						<div class="info_middle_section info_middle_section_center_image clickable" onclick="changeCurrency({{ char_id }});">
							<h3 id="character_currency" class="info_data">{{ character_data['currency'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_center_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Weight</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 id="character_weight" class="info_data">{{ character_data['weight'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 id="character_max_weight" class="info_data">{{ character_data['max_weight'] }}</h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">STR</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeStr({{ char_id }});">
							<h3 id="character_str" class="info_data">{{ character_data['str'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_str_mod" class="info_data">{{ stat_modifiers['str'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">DEX</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeDex({{ char_id }});">
							<h3 id="character_dex" class="info_data">{{ character_data['dex'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_dex_mod" class="info_data">{{ stat_modifiers['dex'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">CON</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeCon({{ char_id }});">
							<h3 id="character_con" class="info_data">{{ character_data['con'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_con_mod" class="info_data">{{ stat_modifiers['con'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">INT</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeInt({{ char_id }});">
							<h3 id="character_int" class="info_data">{{ character_data['int'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_int_mod" class="info_data">{{ stat_modifiers['int'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">WIS</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeWis({{ char_id }});">
							<h3 id="character_wis" class="info_data">{{ character_data['wis'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_wis_mod" class="info_data">{{ stat_modifiers['wis'] }}</h3>
						</div>
					</div>
					<div class="info_item" style="border: none;">
						<div class="info_left_section">
							<h3 class="info_data">CHA</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image clickable" onclick="changeCha({{ char_id }});">
							<h3 id="character_cha" class="info_data">{{ character_data['cha'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_cha_mod" class="info_data">{{ stat_modifiers['cha'] }}</h3>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- width 41% -->
	<div class="inv_container">
		<div class="inner_container">
			<div class="inv_container_menubar">
				<div id="Inventory" class="inv_container_menu_button_active" onclick="inv_tab('inv_container_inventory_section', 'Inventory');">
					<h1>Inventory</h1>
				</div>
				<div id="Skills" class="inv_container_menu_button_middle inv_container_menu_button_inactive" onclick="inv_tab('inv_container_skills_section', 'Skills');">
					<h1>Skills</h1>
				</div>
				<div id="Abilities" class="inv_container_menu_button_inactive" onclick="inv_tab('inv_container_abilities_section', 'Abilities');">
					<h1>Abilities</h1>
				</div>
			</div>
			<div class="inv_container_inner_area">
				{% for ii in inv_items %}
					<div class="inv_container_inventory_section">
						<div id="inv_category_{{ ii }}" class="inv_category">
							<div class="inv_category_line">
								<div class="inv_line_inner">
									<div class="inv_add_item_button clickable" onclick="add_item_to_inv({{ char_id }}, {{ inv_items[ii]['id'] }});"></div >
									<h2>{{ ii }}</h2>
									<div class="inv_category_collapse_button inv_category_button clickable" onclick="category_expand_and_collapse('inv_category_{{ ii }}', 'collapse');"></div >
								</div>
							</div>
							{% for item in inv_items[ii]['items'] %}
								<div class="inv_line_item clickable">
									<div class="inv_line_inner">
										<div id="inv_item_{{ item['Item_ID'] }}" class="inv_remove_item_button clickable" onclick="removeItem({{ char_id }}, {{ item['Item_ID'] }});"></div >
										<div class="inv_item_text">
											<h2 style="color: {{ item['Rarities_Color'] }}">{{ item['Item_Name']|e }}</h2>
											{% if item['Amount'] > 1 %}
												<h3>x{{ item['Amount'] }}</h3>
											{% endif %}
										</div>
										{% if item['Is_Equiped'] %}
											<div class="inv_unequip_item_button clickable" onclick="unequipItem({{ char_id }}, {{ item['Item_ID'] }}, '{{ ii }}');"></div >
										{% else %}
											<div class="inv_equip_item_button clickable" onclick="equipItem({{ char_id }}, {{ item['Item_ID'] }}, '{{ ii }})');"></div >
										{% endif %}
									</div>	
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="inv_container_skills_section" style="display: none;">
					<h1>Skills</h1>
				</div>
				<div class="inv_container_abilities_section" style="display: none;">
					<h1>Abilities</h1>
				</div>
			</div>
		</div>
	</div>
</div>
</body>