<!DOCTYPE html>
<head>
	<title>Character Page</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<!-- will have to make multiple css files for diffrent devices -->
<body>
<div class="panels">
	<div class="eq_ch_container">
			<!-- width was 35% -->
			<div class="eq_container">
				<div class="inner_container">
					<div class="tab">
						<h1>Equipment</h1>
					</div>
					
					<div style="width: 100%; height: 67.5%; background-color: #424242; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1%;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row tooltip">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img.png" alt="Head Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Head</h2>
										</div>
									</div>	
									<!-- Tool tip -->
									<table class="tooltiptext">
										<tr>
											<td colspan="2"></td>
											<td>Name:</td>
											<td>Head</td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td>STR:</td>
											<td>+0</td>
											<td>DEX:</td>
											<td>+0</td>
											<td>CON:</td>
											<td>+0</td>
										</tr>
										<tr>
											<td>INT:</td>
											<td>+0</td>
											<td>WIS:</td>
											<td>+0</td>
											<td>CHA:</td>
											<td>+0</td>
										</tr>
									</table >
								</div>
								<div class="equipment_row tooltip">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_shoulders.png" alt="Shoulder Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Shoulder</h2>
										</div>
									</div>
									<!-- Tool tip -->
									<div class="tooltiptext">
										<p style="margin: 0px;">Name: Shoulders</p>
										<p style="margin: 0px;">STR +00 / DEX +00 / CON +00</p>
										<p style="margin: 0px;">INT +00 / WIS +00 / CHA +00</p>
									</div>
								</div>
								<div class="equipment_row" onmouseover="document.getElementById('test').innerHTML = '<p>Name: Shoulders</p>\
									<p>STR +00 / DEX +00 / CON +00</p>\
									<p>INT +00 / WIS +00 / CHA +00</p>\
									'" onmouseout="document.getElementById('test').innerHTML = '<h2>Torso</h2>'">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_chest.png" alt="Torso Item" />
										</div>
										<div class="equipment_left_item_name" id="test">
											<h2>Torso</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_glove.png" alt="Hand Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Hand</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_leggings.png" alt="Leg Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Leg</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_boots.png" alt="Foot Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Foot</h2>
										</div>
									</div>
								</div>	
							</div>
							<div class="equipment_side">
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Trinket</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_trinket.png" alt="Trinket Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Trinket</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_trinket.png" alt="Trinket Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Ring</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_ring.png" alt="Ring Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Ring</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_ring.png" alt="Ring Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Item</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_item.png" alt="Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Item</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_item.png" alt="Item 2" />
										</div>
									</div>
								</div>
							</div>

						</div> 
								
					</div>

					<div class="info_item_seperator"></div>

					<div style="width: 100%; height: 23%; background-color: #424242;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_weapon.png" alt="Main Hand Item 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Main Hand</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="../static/Item_img_offhand.png" alt="Off Hand Item 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2>Off Hand</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="equipment_side">
								<div class="equipment_row">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Main Hand</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_weapon.png" alt="Main Hand Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row tooltip">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2>Off Hand</h2>
										</div>
										<div class="equipment_right_img">
											<img src="../static/Item_img_offhand.png" alt="Off Hand Item 2" />
										</div>
									</div>
									<div class="tooltiptext">
										<span>2nd tooltip</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- width was 18% -->
			<div class="char_info">
				<div class="inner_container">
					<div class="tab">
						<h1>Character Name</h1>
					</div>
					
					<div style="width: 100%; height: 29.4%; background-color: purple; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1%;">
						<img src="../static/tree.jpg" style="width: 100%; height: 100%;" alt="Character Image"/>
					</div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Classification</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">A Happy Tree</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data">17</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">HP</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">0000</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data">0000</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">AC</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">00</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Initiative</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">+00</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Attack Bonus</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">+00</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Alignment</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">Lawful Neutral</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Currency</h3>
						</div>	
						<div class="info_middle_section info_middle_section_center_image">
							<h3 class="info_data">0,000,000</h3>
						</div>
						<div class="info_right_section info_right_section_center_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Weight</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 class="info_data">930.7</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data">151</h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">STR</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">DEX</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">CON</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">INT</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">WIS</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
					<div class="info_item" style="border: none;">
						<div class="info_left_section">
							<h3 class="info_data">CHA</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 class="info_data">0</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data">+0</h3>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- width 41% -->
	<div style="width: 41%; height: 100%; background-color: crimson; float: left; min-width: 768px;">
		<p>TEST2</p>
	</div>
</div>
</body>