<!DOCTYPE html>
<meta charset="UTF-8">
<head>
	<title>Character Page</title>
	<link rel="stylesheet" href="../static/styles.css">
	<script src="../static/script.js"></script>
</head>
<!-- will have to make multiple css files for diffrent devices -->
<body>
<div class="panels">
	<div class="eq_ch_container">
			<!-- width was 35% -->
			<div class="eq_container">
				<div class="inner_container">
					<div class="tab">
						<h1>Equipment</h1>
					</div>
					
					<div class="equipment_tab" style="width: 100%; height: 67.5%; background-color: #424242; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1%;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row tooltip" onclick="equipmentItemDetails({{ char_id }}, 'Helmet');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['head']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['head']['image']['encoded_image'] }}" alt="Head Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['head']['rarity_color'] is not none %}
													style="color: {{ equiped_item['head']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['head']['name'] }}</h2>
										</div>
									</div>	
									<!-- Tool tip -->
									<table class="tooltiptext">
										<tr>
											<td colspan="2"></td>
											<td>Name:</td>
											<td>Head</td>
											<td colspan="2"></td>
										</tr>
										<tr>
											<td>STR:</td>
											<td>+0</td>
											<td>DEX:</td>
											<td>+0</td>
											<td>CON:</td>
											<td>+0</td>
										</tr>
										<tr>
											<td>INT:</td>
											<td>+0</td>
											<td>WIS:</td>
											<td>+0</td>
											<td>CHA:</td>
											<td>+0</td>
										</tr>
									</table>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Shoulders');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['shoulder']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['shoulder']['image']['encoded_image'] }}" alt="Shoulder Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['shoulder']['rarity_color'] is not none %}
													style="color: {{ equiped_item['shoulder']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['shoulder']['name'] }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Chest');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['chest']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['chest']['image']['encoded_image'] }}" alt="Torso Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['chest']['rarity_color'] is not none %}
													style="color: {{ equiped_item['chest']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['chest']['name'] }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Gloves');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['hand']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['hand']['image']['encoded_image'] }}" alt="Hand Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['hand']['rarity_color'] is not none %}
													style="color: {{ equiped_item['hand']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['hand']['name'] }}</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Leggings');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['leg']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['leg']['image']['encoded_image'] }}" alt="Leg Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['leg']['rarity_color'] is not none %}
													style="color: {{ equiped_item['leg']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['leg']['name'] }}</h2>
										</div>
									</div>
								</div>	
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Boots');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['boots']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['boots']['image']['encoded_image'] }}" alt="Foot Item" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['boots']['rarity_color'] is not none %}
													style="color: {{ equiped_item['boots']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['boots']['name'] }}</h2>
										</div>
									</div>
								</div>	
							</div>
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Trinket1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['trinket1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['trinket1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['trinket1']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['trinket1']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['trinket1']['image']['encoded_image'] }}" alt="Trinket Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Trinket2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['trinket2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['trinket2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['trinket2']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['trinket2']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['trinket2']['image']['encoded_image'] }}" alt="Trinket Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Ring1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['ring1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['ring1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['ring1']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['ring1']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['ring1']['image']['encoded_image'] }}" alt="Ring Item 1" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Ring2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['ring2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['ring2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['ring2']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['ring2']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['ring2']['image']['encoded_image'] }}" alt="Ring Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Magic_Item1');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['item1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['item1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['item1']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['item1']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['item1']['image']['encoded_image'] }}" alt="Magic Item 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Magic_Item2');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['item2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['item2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['item2']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['item2']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['item2']['image']['encoded_image'] }}" alt="Magic Item 2" />
										</div>
									</div>
								</div>
							</div>

						</div> 
								
					</div>

					<div class="info_item_seperator"></div>

					<div style="width: 100%; height: 23%; background-color: #424242;">
						<div class="equipment">
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon1');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['weapon1']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['weapon1']['image']['encoded_image'] }}" alt="Main Hand 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['weapon1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['weapon1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['weapon1']['name'] }}</h2>
										</div>
									</div>
								</div>
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon2');">
									<div class="equipment_left_item equipment_item">
										<div class="equipment_left_img">
											<img src="data:image/{{ equiped_item['offhand1']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['offhand1']['image']['encoded_image'] }}" alt="Offhand 1" />
										</div>
										<div class="equipment_left_item_name">
											<h2 
												{% if equiped_item['offhand1']['rarity_color'] is not none %}
													style="color: {{ equiped_item['offhand1']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['offhand1']['name'] }}</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="equipment_side">
								<div class="equipment_row" onclick="equipmentItemDetails({{ char_id }}, 'Weapon3');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['weapon2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['weapon2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['weapon2']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['weapon2']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['weapon2']['image']['encoded_image'] }}" alt="Main Hand 2" />
										</div>
									</div>
								</div>
								<div class="equipment_row tooltip" onclick="equipmentItemDetails({{ char_id }}, 'Weapon4');">
									<div class="equipment_right_item equipment_item">
										<div class="equipment_right_item_name">
											<h2 
												{% if equiped_item['offhand2']['rarity_color'] is not none %}
													style="color: {{ equiped_item['offhand2']['rarity_color'] }}"
												{% endif %}
											>{{ equiped_item['offhand2']['name'] }}</h2>
										</div>
										<div class="equipment_right_img">
											<img src="data:image/{{ equiped_item['offhand2']['image']['image_type'] }};charset=utf-8;base64, {{ equiped_item['offhand2']['image']['encoded_image'] }}" alt="Offhand 2" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- width was 18% -->
			<div class="char_info">
				<div class="inner_container">
					<div class="tab">
						<h1 id="character_name">{{ character_data['name'] }}</h1>
					</div>
					
					<div style="width: 100%; height: 29.4%; background-color: purple; border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1%;">
						<img src="data:image/{{ character_data['image_type'] }};charset=utf-8;base64, {{ character_data['image'] }}" style="width: 100%; height: 100%;" alt="Character Image"/>
					</div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Classification</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image" onclick="changeClass({{ char_id }});">
							<h3 id="character_class" class="info_data">{{ character_data['class'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 id="character_level" class="info_data">{{ character_data['level'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">HP</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image tooltip">
							<h3 id="character_hp" class="info_data">{{ character_data['hp'] }}</h3>
							<div class="tooltiptext">
								<label for="hp_val">HP: </label>
								<input name="hp_val" type="number" value="{{ character_data['hp'] }}" onchange="alert('yup');" >
							</div>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 id="character_max_hp" class="info_data">{{ character_data['max_hp'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">AC</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 id="character_ac" class="info_data">{{ character_data['ac'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Initiative</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 id="character_initiative" class="info_data">{{ character_data['initiative'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Attack Bonus</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 id="character_attack_bonus" class="info_data">{{ character_data['attack_bonus'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 class="info_data"></h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Alignment</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_alignment" class="info_data">{{ character_data['alignment'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Currency</h3>
						</div>	
						<div class="info_middle_section info_middle_section_center_image">
							<h3 id="character_currency" class="info_data">{{ character_data['currency'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_center_image">
							<h3 class="info_data"></h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">Weight</h3>
						</div>	
						<div class="info_middle_section info_middle_section_top_image">
							<h3 id="character_weight" class="info_data">{{ character_data['weight'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_top_image">
							<h3 id="character_max_weight" class="info_data">{{ character_data['max_weight'] }}</h3>
						</div>
					</div>

					<div class="info_item_seperator"></div>

					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">STR</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_str" class="info_data">{{ character_data['str'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_str_mod" class="info_data">{{ stat_modifiers['str'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">DEX</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_dex" class="info_data">{{ character_data['dex'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_dex_mod" class="info_data">{{ stat_modifiers['dex'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">CON</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_con" class="info_data">{{ character_data['con'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_con_mod" class="info_data">{{ stat_modifiers['con'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">INT</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_int" class="info_data">{{ character_data['int'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_int_mod" class="info_data">{{ stat_modifiers['int'] }}</h3>
						</div>
					</div>
					<div class="info_item">
						<div class="info_left_section">
							<h3 class="info_data">WIS</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_wis" class="info_data">{{ character_data['wis'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_wis_mod" class="info_data">{{ stat_modifiers['wis'] }}</h3>
						</div>
					</div>
					<div class="info_item" style="border: none;">
						<div class="info_left_section">
							<h3 class="info_data">CHA</h3>
						</div>	
						<div class="info_middle_section info_middle_section_bottom_image">
							<h3 id="character_cha" class="info_data">{{ character_data['cha'] }}</h3>
						</div>
						<div class="info_right_section info_right_section_bottom_image">
							<h3 id="character_cha_mod" class="info_data">{{ stat_modifiers['cha'] }}</h3>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- width 41% -->
	<div class="inv_container">
		<div class="inner_container">
			<div class="inv_container_menubar">
				<div id="Inventory" class="inv_container_menu_button_active" onclick="inv_tab('inv_container_inventory_section', 'Inventory');">
					<h1>Inventory</h1>
				</div>
				<div id="Skills" class="inv_container_menu_button_middle inv_container_menu_button_inactive" onclick="inv_tab('inv_container_skills_section', 'Skills');">
					<h1>Skills</h1>
				</div>
				<div id="Abilities" class="inv_container_menu_button_inactive" onclick="inv_tab('inv_container_abilities_section', 'Abilities');">
					<h1>Abilities</h1>
				</div>
			</div>
			<div class="inv_container_inner_area">
				{% for ii in inv_items %}
					<div class="inv_container_inventory_section">
						<div id="inv_category_{{ ii }}" class="inv_category">
							<div class="inv_category_line">
								<div class="inv_line_inner">
									<div class="inv_add_item_button clickable"></div >
									<h2>{{ ii }}</h2>
									<div class="inv_category_collapse_button inv_category_button clickable" onclick="category_expand_and_collapse('inv_category_{{ ii }}', 'collapse');"></div >
								</div>
							</div>
							{% for item in inv_items[ii] %}
								<div class="inv_line_item clickable">
									<div class="inv_line_inner">
										<div class="inv_remove_item_button clickable"></div >
										<h2 style="color: {{ item['Rarities_Color'] }}">{{ item['Item_Name'] }}</h2>
										{% if item['Is_Equiped'] %}
											<div class="inv_unequip_item_button clickable"></div >
										{% else %}
											<div class="inv_equip_item_button clickable"></div >
										{% endif %}
									</div>	
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="inv_container_skills_section" style="display: none;">
					<h1>Skills</h1>
				</div>
				<div class="inv_container_abilities_section" style="display: none;">
					<h1>Abilities</h1>
				</div>
			</div>
		</div>
	</div>
</div>
</body>