<!DOCTYPE html>
<meta charset="UTF-8">
<head>
	<title>Character Select</title>
	<link rel="stylesheet" href="../../static/styles.css">
	<script src="../../static/script.js"></script>
</head>
<body>
	<div class="user_container">
		<div class="inner_container">
			<div class="tab">
					<h1>Site Name</h1>
			</div>
			<div class="character_select_inner_panel">
				<div class="sub_inner_panel">
					{% for c in characters %}
						<div class="user_button_char_select clickable" onclick="location.href='{{ url_for('character.character_page', char_id=c['Character_ID']) }}';">
							<h2>{{ c['Character_Name']|e }}</h2>
						</div>
					{% endfor %}
				</div>
				<div class="character_select_bottom_buttons_container">
					<div class="character_select_bottom_button_goback clickable" onclick="window.history.go(-1); return false;"></div>
				</div>
<!-- 				<div class="user_button clickable" onclick="location.href='/character/create'">
					<h2>Create New Character</h2>
				</div> -->
			</div>
			
		</div>
		<div class="footer">
			<p>Copyright 2020</p>
		</div>
	</div>

<!-- 	<div class="panels">
		<ul>
			{% for c in characters %}
				<li><a href="{{ c['Character_ID'] }}">{{ c['Character_Name'] }}</a></li>
			{% endfor %}
		</ul>
		<a href="create">Create Character</button>
	</div> -->
</body>