<!DOCTYPE html>
<meta charset="UTF-8">
<head>
	<title>User Select</title>
	<link rel="stylesheet" href="../static/styles.css">
	<script src="../static/script.js"></script>
</head>
<body>
	<div class="user_container">
		<div class="inner_container">
			<div class="tab">
					<h1>{{ header_text }}</h1>
			</div>
			<div class="character_select_inner_panel">
				<div class="sub_inner_panel">
					{% for u in users %}
						<div id="user_{{ u['User_ID'] }}" class="user_button_char_select" style="display: flex; flex-direction: row;" >
							<div class="verify_deny_buttons">
								{% if u['Is_Verified'] < 1 %}
									<div class="small_buttons character_select_bottom_button_verify clickable" onclick="verify_user({{ u['User_ID'] }});"></div>
								{% endif %}
								<div class="small_buttons character_select_bottom_button_remove clickable" onclick="remove_user({{ u['User_ID'] }}, '{{ u['Username'] }}');"></div>
							</div>
							<div class="clickable user_button_user_name" onclick="location.href='/admin/users/{{ u['Username'] }}';">
								<h2>{{ u['Username']|e }}</h2>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="character_select_bottom_buttons_container">
					<div class="character_select_bottom_button_goback clickable" onclick="window.history.go(-1); return false;"></div>
				</div>
<!-- 				<div class="user_button clickable" onclick="location.href='/character/create'">
					<h2>Create New Character</h2>
				</div> -->
			</div>
			
		</div>
		<div class="footer">
			<p>Copyright 2020</p>
		</div>
	</div>

<!-- 	<div class="panels">
		<ul>
			{% for c in characters %}
				<li><a href="{{ c['Character_ID'] }}">{{ c['Character_Name'] }}</a></li>
			{% endfor %}
		</ul>
		<a href="create">Create Character</button>
	</div> -->
</body>