<!DOCTYPE html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    {% if site_notification is not none %}
        <div class="site_notification">
            {% for sn in site_notification %}
                <h2>{{ sn["Note"]|e }}</h2>
            {% endfor %}
        </div>
    {% endif %}
    <div class="site_notification">
        <h2>
            <a href="/update">Click here to see the latest site updates!</a>
        </h2>
    </div>
    <div class="user_container">
        <div class="inner_container">
            <div class="tab">
                    <h1>{{ header_text|e }}</h1>
            </div>
            <div class="inner_panel">
                <div class="user_button clickable" onclick="location.href='/admin/users'">
                    <h2>Administration</h2>
                </div>
                <div class="user_button clickable" onclick="location.href='/character/select'">
                    <h2>My Characters</h2>
                </div>
                <div class="user_button clickable" onclick="location.href='/tools/creationKit'">
                    <h2>Creation Kit</h2>
                </div>
<!-- 				<div class="user_button clickable" onclick="location.href='/admin/notImplemented'"> -->
                <div class="user_button"> 
                    <h2>Action Log</h2>
                </div>
                <div class="user_button clickable" onclick="location.href='/admin/notifications'"> 
                    <h2>Notifications</h2>
                </div>
                <div class="user_button clickable" onclick="location.href='/auth/logout'">
                    <h2>Logout</h2>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <p>Copyright 2020</p>
        </div>
    </div>
</body>
