<!DOCTYPE html>
<head>
    <title>Set Security Questsions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="login_container">
        <div class="inner_container">
            <div class="tab">
                {% if error_msg is none %}
                    <h1>{{ header_text|e }}</h1>
                {% else %}
                    <h1 style="color: orange;">{{ error_msg|e }}</h1>
                {% endif %}
            </div>
            <div class="login_inner_panel">
                <div class="login_panel">
                    <form class="login_form" action="/auth/set/newquestions" method="POST">
                        <input hidden name="username" value="{{ username }}">
                        {% for n in range(num_of_questions) %}
                        <div class="security_question">
                            <select name="security_question{{ n }}" required>
                                {% for q in defaults %}
                                    {% if q['ID'] == security_questions[n] %}
                                    <option value="{{ q['ID'] }}" selected>{{ q['Question'] }}</option>
                                    {% else %}
                                    <option value="{{ q['ID'] }}">{{ q['Question'] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="text" name="answer{{ n }}" placeholder="Security Question {{ n + 1 }}" value="{{ security_answers[n] }}" required>
                        </div>
                        {% endfor %}
                        <div class="input_field">
                            <input type="password" name="password" placeholder="Password" value="" required>
                        </div> 
                        <div class="login_submit">
                            <input class="submit_button" type="submit" value="">
                        </div>
                    </form>
                </div>
            </div>
            <div class="login_footer">
                <p>Copyright 2020</p>
            </div>
        </div>
    </div>
</body>
