@font-face{
	font-family: SAOUI-Regular;
	src: url('fonts/SAOUI-Regular.otf')
}
@font-face{
	font-family: SAOUI-Bold;
	src: url('fonts/SAOUI-Bold.otf')
}
@font-face{
	font-family: SAOUIWelcome-Bold;
	src: url('fonts/SAOUIWelcome-Bold.otf')
}
@font-face{
	font-family: SAOUIWelcome-Regular;
	src: url('fonts/SAOUIWelcome-Regular.otf')
}

::-webkit-scrollbar {
	display: none;
}

body{
	/*min-width: 1600px;*/
	width: 100%;
	min-height: 900px;
	height: 900px;
	background-color: #2e2e2e;
	margin: 0 auto;
	font-family: SAOUI-Regular;
}

/* Panels */
.panels{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

/* Equipment and Character container */
.eq_ch_container{
	min-width: 768px;
	max-width: 1024px;
	width: 59%;
	height: 100%;
	max-height: 900px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* Equipment containter */
.eq_container{
	width: 59%;
	height: 100%;
	background-color: #424242;
	padding: 4px;
	min-width: 300px;
}

/* Inner container */
.inner_container{
	margin: auto;
	margin-top: 2px;
	border-style: solid;
	border-width: 1%;
	border-color: black;
	width: 98%;
	height: 99%;
	background-color: #424242;
}

/* Tabs at top of panels */
.tab{
	width: 100%;
	height: 5%;
	background-color: #252525;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1%;
}

/* Titles in the tab(s) */
.tab h1{
	margin: 0px;
	text-align: center;
	padding-top: 3px;
	color: #606060;
}

/* Equipment */
.equipment{
	/*margin: 0 auto;*/
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}

/* Equipment row */
.equipment_row{
	width: 100%;
	height: 70px;
	padding-top: 20px;
	cursor: pointer;
}

/* Equipment side */
.equipment_side{
	width: 292px;
	height: 100%;
	margin: 0 auto;
	/*float: left;*/
}

/* Equipment item */
.equipment_item{
	width: 292px;
	height: 70px;
	float: left;
}

.equipment_item h2{
	color: #606060;
}

/* Equipment left item */
.equipment_left_item{
	background-image: url(images/EquipedPartLeft.png);
}

/* Equipment right item */
.equipment_right_item{
	background-image: url(images/EquipedPartRight.png);
}

/* Equipment left item image */
.equipment_left_img{
	padding: 3px;
	float: left;
}

.equipment_left_img img{
	width: 64px;
	height: 64px;
}

/* Equipment left item description */
.equipment_left_item_name{
	width: 225px;
	height: 70px;
	padding-left: 35px;
}

.equipment_left_item_name h2{
	text-align: center;
}

/* Equipment left item image */
.equipment_left_img{
	padding: 3px;
	float: left;
}

.equipment_left_img img{
	width: 64px;
	height: 64px;
}

/* Equipment right item description */
.equipment_right_item_name{
	width: 225px;
	height: 70px;
	float: left; /* we all float down here */
}

.equipment_right_item_name h2{
	text-align: center;
}

/* Equipment right item image */
.equipment_right_img{
	padding: 3px;
}

.equipment_right_img img{
	width: 64px;
	height: 64px;
}

/* Item lines */
.info_item{
	width: 100%;
	height: 3.5%;
	background-color: #5a5a5a;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1%;
}

.info_item_seperator{
	width: 100%;
	height: 3.5%;
	background-color: #252525;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1%;
}

/* Character info container */
.char_info{
	width: 385px;
 	height: 100%;
	background-color: #424242;
	margin-left: 14px;
	padding: 4px;
}

/* Character info h text color */
.char_info h3, .char_info h1, .char_info h5{
	color: #c1c1c1;
	text-align: center;
}

.character_image{
	width: 100%;
	height: 100%;
}

.char_image_container{
	width: 100%;
	height: 29.4%;
	/*background-color: purple;*/
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1%;
}

/* Info Data */
.info_data{
	margin-top: 5px;
}

/* Basic info item things */
.info_item > .info_left_section, .info_item > .info_middle_section, .info_item > .info_right_section{
	height: 100%;
	float: left;
}

/* info items that require a background image */
.info_item > .info_middle_section, .info_item > .info_right_section{
	background-repeat: no-repeat;
	background-size: cover;
}

/* Info left section */
.info_left_section{
	width: 40%;
}

/* Info middle section */
.info_middle_section{
	width: 40%;
}

/* Info middle top image */
.info_middle_section_top_image{
	background-image: url(images/ItemPart.png);
}
/* Info middle center image */
.info_middle_section_center_image{
	background-image: url(images/ItemPartCenter.png);
}
/* Info middle bottom image */
.info_middle_section_bottom_image{
	background-image: url(images/ItemPartBottom.png);
}


/* Info right section */
.info_right_section{
	background-image: url(images/ItemPartRight.png);
	width: 20%;
}

/* Info right top image */
.info_right_section_top_image{
	background-image: url(images/ItemPartRight.png);
}
/* Info right center image */
.info_right_section_center_image{
	background-image: url(images/ItemPartRightCenter.png);
}
/* Info right bottom image */
.info_right_section_bottom_image{
	background-image: url(images/ItemPartRightBottom.png);
}


.info_right_section h3, .info_middle_section h3{
	padding-left: 4px;
}

/* Info with subscript text */
.info_subscript{
	height: 100%;
	margin: 5px auto;
}

.info_subscript_middle{
	width: 45%;
}

.info_subscript_right{
	width: 70%;
}

.info_subscript > h3, .info_subscript > h5{
	float: left;
	margin: 0px;
	padding-left: 4px;
}

.info_subscript > h5{
	padding-top: 5px;
}

/*------------------------------*/
/*			Tool tip			*/
/*------------------------------*/

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 10%;
	left: 50%;
	margin-left: -80px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

table td{
	color: white;
}


/*--------------------------------------*/
/* 			Equipment Item Details		*/
/*--------------------------------------*/

.item_info{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: relative;
	top:-100%;
	left: 0px;
	z-index: 1;
}

.item_info_header{
	display: flex;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

.item_info_header > img{
	border: dotted white 2px;
	margin: auto;
	width: 64px;
	height: 64px;
}

.item_info_header > h1{
	color: white;
	text-align: center;
	padding: 0px;
	margin: auto;
}

.item_info_data{
	/*overflow-y: scroll;*/
	display: flex;
	flex-wrap: wrap;
	max-height: 70%;
}

.item_info_description{
	width: 80%;
	margin: 0 auto;
}

.item_info_description > p{
	color: white;
	word-wrap: break-word;
	text-align: center;
}

.item_info_data > table{
	margin: 0 auto;
	width: 70%;
}

.stats_table h2{
	margin: 2px 5px;
}

.stats_table td{
	text-align: center;
	padding: 4px;
}

.item_info_footer{
	bottom: 0px;
	position: relative;
	width: 10%;
	margin: 4% auto;
	border: solid white 2px;
}

.item_info_footer > h1{
	color: crimson;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.weight{
	color: #808080;
}

/*--------------------------------------*/
/* 			Login Page Style			*/
/*--------------------------------------*/

.login_container{
	margin: auto;
	width: 355px;
	height: 738px;
	background-color: #424242;
	padding: 4px;
}

.login_container .tab{
	height: 55px;
}

.login_container .tab h1{
	color: #c1c1c1;
}

.login_inner_panel{
	width: 100%;
	height: 75%;
	background-color: #424242;
}

.login_form{
	width: 100%;
	height: 60%;	
	padding-top: 20%;
}

.login_container .login_panel{
	margin: 0 auto;
	width: 225px;
	height: 85%;	
}


.login_form .login_username{
	background-image: url(../static/images/login_username.png);
	width: 225px;
	height: 70px;
	margin-top: 16px;
}

.login_form .login_password{
	background-image: url(../static/images/login_password.png);
	width: 225px;
	height: 82px;
	margin-top: 8px;
}

.login_form input{
	background: none;
	border: none;
	color: #606060;
	font-size: xx-large;
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: SAOUI-Bold;
}

.login_form .login_register{
	width: 100%;
	height: 70px;
}

.login_form .register_button{
	background-image: url(images/login_register.png);
	width: 119px;	
}

.login_form .register_button:hover{
	background-image: url(images/login_register_active.png);
}

.login_form .login_submit{
	margin-top: 16px;
	height: 70px;
	width: 100%;
}

.login_form .submit_button{
	background-image: url(images/login_submit.png);
	width: 132px;
	float: right;
}

.login_form .submit_button:hover{
	background-image: url(images/login_submit_active.png);
}

.login_inner_panel .reset_password{
	height: 70px;
	width: 225px;
	margin: 0 auto;
}

.reset_password button{
	background-color: black;
	border: 3px solid black;
	font-family: SAOUI-Bold;
	color: #c1c1c1;
	font-size: x-large;
	width: 100%;
	height: 100%;
}

.reset_password button:hover{
	background-color: #252525;
}

.login_footer{
	margin: 0 auto;
	width: 60%;
	padding-top: 23%;
}

.login_footer p{
	color: #606060;
}


/*--------------------------------------*/
/* 			TOS Page Style				*/
/*--------------------------------------*/

.tos_header{
	width: 100%;
	height: 70px;
	border: 3px solid black;
	background-color: #252525;
	margin-top: 20%;
}

.tos_body{
	margin: 14px 0px;
	width: 100%;
	height: 340px;
	border: 3px solid black;
	background-color: #252525;
}

.tos_buttons{
	margin: 0 auto;
	width: 218px;
	height: 70px;
	display: flex;
}

.tos_footer{
	margin: 0 auto;
	width: 60%;
	padding-top: 11%;
}

.tos_footer p{
	color: #606060;
}

.tos_buttons div{
	width: 109px;
}

.tos_accept_button{
	background-image: url(images/tos_accept.png);
}

.tos_decline_button{
	background-image: url(images/tos_decline.png);
}

.tos_accept_button:hover{
	background-image: url(images/tos_accept_active.png);
}

.tos_decline_button:hover{
	background-image: url(images/tos_decline_active.png);
}

.tos_body_text{
	margin: 0 auto;
	width: 94%;
	height: 100%;
	overflow-y: auto;
}

.tos_body_text p{
	padding: 0px;
	color: white;
}

.tos_header h2{
	color: white;
	text-align: center;
}


/*--------------------------------------*/
/* 				Inventory				*/
/*--------------------------------------*/
.inv_container{
	width: 45%;
	height: 100%;
	max-height: 900px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #424242;
	min-width: 768px;
	margin: 0 auto;
}

.inv_container_menubar{
	height: 52px;
	width: 100%;
	background-color: green;
	border-bottom: solid 3px black;
	display: flex;
	overflow: hidden;
}

.inv_container_inner_area{
	height: 93.8%;
	background-color: #424242;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.inv_container_menubar > div{
	width: 33.4%;
	height: 100%;
	cursor: pointer;
}

.inv_container_menubar h1{
	text-align: center;
	color: #606060;
	margin: 3%;
}

.inv_container_menu_button_middle{
	border-left: solid 3px black;
	border-right: solid 3px black;
}


.inv_container_menu_button_inactive{
	background-color: #1b1b1b;
}

.inv_container_menu_button_active{
	background-color: #424242;
}

.inv_container_menu_button_active > h1{
	color: #c1c1c1;
}

.inv_container_inventory_section{
	/*height: 100%;*/
	width: 100%;
	/*display: flex;*/
}

.inv_container_skills_section{
	height: 100%;
	width: 100%;
	/*display: flex;*/
}

.inv_container_abilities_section{
	height: 100%;
	width: 100%;
	/*display: flex;*/
}

.inv_container_inner_area h2, .inv_container_inner_area h3{
	color: #c1c1c1;
	margin: 0px;
}


.inv_category_line{
	width: 100%;
	height: 70px;
	background-color: #252525;
	border-bottom: 3px solid black;
	display: flex;
}

.inv_line_item{
	width: 100%;
	height: 70px;
	background-color: #1b1b1b;
	border-bottom: 3px solid black;
}

.inv_add_item_button{
	background-image: url(./images/inv_add_item.png);
	width: 31px;
	height: 31px;
}

.inv_category_collapse_button{
	background-image: url(./images/inv_collapse.png);
	width: 31px;
	height: 31px;
}

.inv_category_expand_button{
	background-image: url(./images/inv_extend.png);
	width: 31px;
	height: 31px;
}

.inv_remove_item_button{
	background-image: url(./images/inv_remove_item.png);
	width: 31px;
	height: 31px;
}

.inv_equip_item_button{
	background-image: url(./images/inv_equip.png);
	width: 31px;
	height: 31px;
}

.inv_unequip_item_button{
	background-image: url(./images/inv_unequip.png);
	width: 31px;
	height: 31px;
}

.inv_equip_unequip_item_button{
	background-image: url(./images/inv_equip_unequip.png);
	width: 31px;
	height: 31px;
}

.inv_line_inner{
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
}

.inv_line_inner h2 {
	text-align: center;
	margin: 0 auto;
}

.inv_line_inner h3{
	width: 50px;
	text-align: center;
	margin: auto;
}

.inv_item_text {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 70%;
}

.clickable{
	cursor: pointer;
}


.char_item_val_change_container {
	/*visibility: hidden;*/
	width: 160px;
	background-color: #222222;
	text-align: center;
	padding: 5px 0;
	border-radius: 10px;
	border-color: black;
	border-width: 3px;
	margin-left: 10%;
	margin-top: -2%;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
}

.item_remove_container{
		/*visibility: hidden;*/
		width: 400px;
		background-color: #222222;
		text-align: center;
		padding: 5px 0;
		border-radius: 10px;
		border-color: black;
		border-width: 3px;
		/* margin-left: hand10%; */
		/* margin-top: -4%; */
	
		/* Position the tooltip text */
		position: absolute;
		z-index: 1;
}

.stat_details{
	margin: 0 auto;
}

.stat_details h4{
	color: white;
	text-align: center;
}

.stat_details p{
	color: white;
	text-align: center;
}


.inv_add_item_container{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: relative;
	top:-100%;
	left: 0px;
	z-index: 1;
	text-align: center;

}

.inv_add_item_container h1{
	color: white;
	margin: 0 auto;
}

.inv_add_item_container h2{
	color: white;
	margin: 0 auto;
}

.inv_add_item_header{
	margin: 0 auto;
	width: 100%;
}

.inv_add_item_row_item{
	margin: 10px auto;
	width: 70%;
	display: flex;
	flex-direction: row;
}

.inv_add_item_input{
	display: flex;
	flex-direction: row;
	margin: 0 5%;
	max-height: 32px;
}

.inv_add_item_data{
	display: flex;
	margin: 0 auto;
}

.inv_add_item_data > img{
	width: 32px;
	height: 32px;
	margin: 0 5px;
}

.inv_add_item_buttons{
	display: flex;
	flex-direction: row;
	border-top: dashed 3px rgba(255,255,255,0.15);
}

.inv_add_item_buttons > div{
	border: solid white 2px;
	width: 20%;
	margin: 4px auto;
}

.inv_multi_options{
	position: relative;
	display: inline-block;
	width: 31px;
	height: 31px;
}

.inv_multi_options h4{
	margin: 0;
	padding-bottom: 2px;
	color: #424242;
}

.inv_multi_options_inner{
	display: flex;
	position: absolute;
	z-index: 1;
}